# Desafio Engenheiro de Dados

### HTTP​ ​requests​ ​to​ ​the​ ​NASA​ ​Kennedy​ ​Space​ ​Center​ ​WWW​ ​server

Fonte​ ​oficial​ ​do​ ​dateset​:​ ​​http://ita.ee.lbl.gov/html/contrib/NASA-HTTP.html

Dados​:

● Jul​ ​01​ ​to​ ​Jul​ ​31,​ ​ASCII​ ​format,​ ​20.7​ ​MB​ ​gzip​ ​compressed​,​ ​205.2​ ​MB.

● Aug​ ​04​ ​to​ ​Aug​ ​31,​ ​ASCII​ ​format,​ ​21.8​ ​MB​ ​gzip​ ​compressed​,​ ​167.8​ ​MB.

Sobre o dataset​: Esses dois conjuntos de dados possuem todas as requisições HTTP para o servidor da NASA Kennedy
Space​ ​Center​ ​WWW​ ​na​ ​Flórida​ ​para​ ​um​ ​período​ ​específico.

## Importando e tratando os dados

In [1]:
#importação das bibliotecas
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
dataJ = pd.read_csv('access_log_Jul95.txt', sep=" " or '-', header=None, encoding="ISO-8859-1",error_bad_lines=False)

In [3]:
dataA = pd.read_csv('access_log_Aug95.txt', sep=" " or '-', header=None, encoding="ISO-8859-1",error_bad_lines=False)

In [4]:
dataJ.info()
dataJ.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1891715 entries, 0 to 1891714
Data columns (total 8 columns):
0    object
1    object
2    object
3    object
4    object
5    object
6    float64
7    object
dtypes: float64(1), object(7)
memory usage: 115.5+ MB

,0,1,2,3,4,5,6,7
0,199.72.81.55,-,-,[01/Jul/1995:00:00:01,-0400],GET /history/apollo/ HTTP/1.0,200.0,6245
1,unicomp6.unicomp.net,-,-,[01/Jul/1995:00:00:06,-0400],GET /shuttle/countdown/ HTTP/1.0,200.0,3985
2,199.120.110.21,-,-,[01/Jul/1995:00:00:09,-0400],GET /shuttle/missions/sts-73/mission-sts-73.ht...,200.0,4085
3,burger.letters.com,-,-,[01/Jul/1995:00:00:11,-0400],GET /shuttle/countdown/liftoff.html HTTP/1.0,304.0,0
4,199.120.110.21,-,-,[01/Jul/1995:00:00:11,-0400],GET /shuttle/missions/sts-73/sts-73-patch-smal...,200.0,4179

In [5]:
dataA.info()
dataA.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1569898 entries, 0 to 1569897
Data columns (total 8 columns):
0    1569898 non-null object
1    1569898 non-null object
2    1569898 non-null object
3    1569898 non-null object
4    1569898 non-null object
5    1569898 non-null object
6    1569898 non-null int64
7    1569898 non-null object
dtypes: int64(1), object(7)
memory usage: 95.8+ MB

,0,1,2,3,4,5,6,7
0,in24.inetnebr.com,-,-,[01/Aug/1995:00:00:01,-0400],GET /shuttle/missions/sts-68/news/sts-68-mcc-0...,200,1839
1,uplherc.upl.com,-,-,[01/Aug/1995:00:00:07,-0400],GET / HTTP/1.0,304,0
2,uplherc.upl.com,-,-,[01/Aug/1995:00:00:08,-0400],GET /images/ksclogo-medium.gif HTTP/1.0,304,0
3,uplherc.upl.com,-,-,[01/Aug/1995:00:00:08,-0400],GET /images/MOSAIC-logosmall.gif HTTP/1.0,304,0
4,uplherc.upl.com,-,-,[01/Aug/1995:00:00:08,-0400],GET /images/USA-logosmall.gif HTTP/1.0,304,0

In [6]:
#juntandos os dois dataframes em um só
data=pd.concat([dataJ,dataA])
data.info()
data.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3461613 entries, 0 to 1569897
Data columns (total 8 columns):
0    object
1    object
2    object
3    object
4    object
5    object
6    float64
7    object
dtypes: float64(1), object(7)
memory usage: 237.7+ MB

,0,1,2,3,4,5,6,7
0,199.72.81.55,-,-,[01/Jul/1995:00:00:01,-0400],GET /history/apollo/ HTTP/1.0,200.0,6245
1,unicomp6.unicomp.net,-,-,[01/Jul/1995:00:00:06,-0400],GET /shuttle/countdown/ HTTP/1.0,200.0,3985
2,199.120.110.21,-,-,[01/Jul/1995:00:00:09,-0400],GET /shuttle/missions/sts-73/mission-sts-73.ht...,200.0,4085
3,burger.letters.com,-,-,[01/Jul/1995:00:00:11,-0400],GET /shuttle/countdown/liftoff.html HTTP/1.0,304.0,0
4,199.120.110.21,-,-,[01/Jul/1995:00:00:11,-0400],GET /shuttle/missions/sts-73/sts-73-patch-smal...,200.0,4179

In [7]:
data.drop([1,2,4],axis=1,inplace=True)

In [8]:
data.head(6)

,0,3,5,6,7
0,199.72.81.55,[01/Jul/1995:00:00:01,GET /history/apollo/ HTTP/1.0,200.0,6245
1,unicomp6.unicomp.net,[01/Jul/1995:00:00:06,GET /shuttle/countdown/ HTTP/1.0,200.0,3985
2,199.120.110.21,[01/Jul/1995:00:00:09,GET /shuttle/missions/sts-73/mission-sts-73.ht...,200.0,4085
3,burger.letters.com,[01/Jul/1995:00:00:11,GET /shuttle/countdown/liftoff.html HTTP/1.0,304.0,0
4,199.120.110.21,[01/Jul/1995:00:00:11,GET /shuttle/missions/sts-73/sts-73-patch-smal...,200.0,4179
5,burger.letters.com,[01/Jul/1995:00:00:12,GET /images/NASA-logosmall.gif HTTP/1.0,304.0,0

In [9]:
#trocando dados ausentes por 0
data.fillna(0,inplace=True)
data.isnull().sum()

0    0
3    0
5    0
6    0
7    0
dtype: int64

In [10]:
#trocando nomes das colunas
data.columns = ["Host", "Timestamp", "Requisição", "Código do retorno HTTP","Total de bytes retornados"]

In [11]:
data.head()

,Host,Timestamp,Requisição,Código do retorno HTTP,Total de bytes retornados
0,199.72.81.55,[01/Jul/1995:00:00:01,GET /history/apollo/ HTTP/1.0,200.0,6245
1,unicomp6.unicomp.net,[01/Jul/1995:00:00:06,GET /shuttle/countdown/ HTTP/1.0,200.0,3985
2,199.120.110.21,[01/Jul/1995:00:00:09,GET /shuttle/missions/sts-73/mission-sts-73.ht...,200.0,4085
3,burger.letters.com,[01/Jul/1995:00:00:11,GET /shuttle/countdown/liftoff.html HTTP/1.0,304.0,0
4,199.120.110.21,[01/Jul/1995:00:00:11,GET /shuttle/missions/sts-73/sts-73-patch-smal...,200.0,4179

# $$QUESTÕES$$

## Número de hosts únicos:

In [12]:
data['Host'].nunique()

137979

## O total de erros 404

In [13]:
dataerro=data[data['Código do retorno HTTP']==404]

In [14]:
dataerro['Código do retorno HTTP'].value_counts()

404.0    20901
Name: Código do retorno HTTP, dtype: int64

## Os 5 URLs que mais causaram erro 404

In [15]:
dataerro['Requisição'].value_counts().sort_values(ascending=False).head(5)

GET /pub/winvn/readme.txt HTTP/1.0                           2004
GET /pub/winvn/release.txt HTTP/1.0                          1732
GET /shuttle/missions/STS-69/mission-STS-69.html HTTP/1.0     682
GET /shuttle/missions/sts-68/ksc-upclose.gif HTTP/1.0         426
GET /history/apollo/a-001/a-001-patch-small.gif HTTP/1.0      384
Name: Requisição, dtype: int64

## Quantidade de erros  404 por dia

In [16]:
dataJ.drop([1,2,4],axis=1,inplace=True)
dataJ.columns = ["Host", "Timestamp", "Requisição", "Código do retorno HTTP","Total de bytes retornados"]
dataJ.fillna(0,inplace=True)
dataA.drop([1,2,4],axis=1,inplace=True)
dataA.columns = ["Host", "Timestamp", "Requisição", "Código do retorno HTTP","Total de bytes retornados"]
dataA.fillna(0,inplace=True)

In [17]:
dataA.head()

,Host,Timestamp,Requisição,Código do retorno HTTP,Total de bytes retornados
0,in24.inetnebr.com,[01/Aug/1995:00:00:01,GET /shuttle/missions/sts-68/news/sts-68-mcc-0...,200,1839
1,uplherc.upl.com,[01/Aug/1995:00:00:07,GET / HTTP/1.0,304,0
2,uplherc.upl.com,[01/Aug/1995:00:00:08,GET /images/ksclogo-medium.gif HTTP/1.0,304,0
3,uplherc.upl.com,[01/Aug/1995:00:00:08,GET /images/MOSAIC-logosmall.gif HTTP/1.0,304,0
4,uplherc.upl.com,[01/Aug/1995:00:00:08,GET /images/USA-logosmall.gif HTTP/1.0,304,0

In [18]:
#data['Timestamp'].astype(str)
dataJ['Timestamp'] = dataJ['Timestamp'].astype(str)
dataA['Timestamp'] = dataA['Timestamp'].astype(str)

In [19]:

def explode(df, lst_cols, fill_value=''):
    # verifica se "lst_cols" é uma coluna
    if lst_cols and not isinstance(lst_cols, list):
        lst_cols = [lst_cols]
    # todas as colunas recebe `lst_cols`
    idx_cols = df.columns.difference(lst_cols)

    # calcula o tamanho
    lens = df[lst_cols[0]].str.len()
    
    # Verifica se as linhas não estão vazias
    if (lens > 0).all():
        return pd.DataFrame({
            col:np.repeat(df[col].values, lens)
            for col in idx_cols
        }).assign(**{col:np.concatenate(df[col].values) for col in lst_cols}) \
          .loc[:, df.columns]
    else:
        
        return pd.DataFrame({
            col:np.repeat(df[col].values, lens)
            for col in idx_cols
        }).assign(**{col:np.concatenate(df[col].values) for col in lst_cols}) \
          .append(df.loc[lens==0, idx_cols]).fillna(fill_value) \
          .loc[:, df.columns]

In [20]:
dataJ.Timestamp = dataJ.Timestamp.str.split('/')
dataA.Timestamp = dataA.Timestamp.str.split('/')

In [21]:
dataJ.head()

,Host,Timestamp,Requisição,Código do retorno HTTP,Total de bytes retornados
0,199.72.81.55,"[[01, Jul, 1995:00:00:01]",GET /history/apollo/ HTTP/1.0,200.0,6245
1,unicomp6.unicomp.net,"[[01, Jul, 1995:00:00:06]",GET /shuttle/countdown/ HTTP/1.0,200.0,3985
2,199.120.110.21,"[[01, Jul, 1995:00:00:09]",GET /shuttle/missions/sts-73/mission-sts-73.ht...,200.0,4085
3,burger.letters.com,"[[01, Jul, 1995:00:00:11]",GET /shuttle/countdown/liftoff.html HTTP/1.0,304.0,0
4,199.120.110.21,"[[01, Jul, 1995:00:00:11]",GET /shuttle/missions/sts-73/sts-73-patch-smal...,200.0,4179

In [22]:
data2J = explode(dataJ, ['Timestamp'] , fill_value='')
data2A = explode(dataA, ['Timestamp'] , fill_value='')

In [23]:
data2J.head()

,Host,Timestamp,Requisição,Código do retorno HTTP,Total de bytes retornados
0,199.72.81.55,[01,GET /history/apollo/ HTTP/1.0,200.0,6245
1,199.72.81.55,Jul,GET /history/apollo/ HTTP/1.0,200.0,6245
2,199.72.81.55,1995:00:00:01,GET /history/apollo/ HTTP/1.0,200.0,6245
3,unicomp6.unicomp.net,[01,GET /shuttle/countdown/ HTTP/1.0,200.0,3985
4,unicomp6.unicomp.net,Jul,GET /shuttle/countdown/ HTTP/1.0,200.0,3985

In [24]:
dataerro2J=data2J[data2J['Código do retorno HTTP']==404]
dataerro2A=data2A[data2A['Código do retorno HTTP']==404]

In [25]:
dataerro2J.head()

,Host,Timestamp,Requisição,Código do retorno HTTP,Total de bytes retornados
150,dd15-062.compuserve.com,[01,GET /news/sci.space.shuttle/archive/sci-space-...,404.0,-
151,dd15-062.compuserve.com,Jul,GET /news/sci.space.shuttle/archive/sci-space-...,404.0,-
152,dd15-062.compuserve.com,1995:00:01:12,GET /news/sci.space.shuttle/archive/sci-space-...,404.0,-
1743,netport-27.iu.net,[01,GET /pub/winvn/readme.txt HTTP/1.0,404.0,-
1744,netport-27.iu.net,Jul,GET /pub/winvn/readme.txt HTTP/1.0,404.0,-

In [26]:
erros_por_diaJ=dataerro2J['Timestamp'].value_counts().head(30)
erros_por_diaA=dataerro2A['Timestamp'].value_counts().head(31)

#### Erros por dia do mês de Julho:

In [27]:
erros_por_diaJ

Jul              10845
[06                640
[19                639
[07                570
[13                532
[05                497
[03                474
[12                471
[11                471
[18                465
[25                461
[20                428
[14                413
[17                406
[10                398
[04                359
[09                348
[27                336
[26                336
[21                334
[24                328
[01                316
[08                302
[02                291
[16                257
[15                254
[23                233
[22                192
[28                 94
1995:10:20:43        5
Name: Timestamp, dtype: int64

#### Erros por dia do mês de Agosto:

In [28]:
erros_por_diaA

Aug    10056
[30      571
[07      537
[31      526
[29      420
[24      420
[25      415
[28      410
[08      391
[06      373
[27      370
[26      366
[04      346
[23      345
[15      327
[10      315
[20      312
[21      305
[03      304
[22      288
[14      287
[09      279
[17      271
[11      263
[16      259
[18      256
[01      243
[05      236
[13      216
[19      209
[12      196
Name: Timestamp, dtype: int64

## O total de bytes retornados

In [29]:
data[data['Total de bytes retornados']=='-'].head()

,Host,Timestamp,Requisição,Código do retorno HTTP,Total de bytes retornados
50,dd15-062.compuserve.com,[01/Jul/1995:00:01:12,GET /news/sci.space.shuttle/archive/sci-space-...,404.0,-
116,dynip42.efn.org,[01/Jul/1995:00:02:14,GET /software HTTP/1.0,302.0,-
144,ix-or10-06.ix.netcom.com,[01/Jul/1995:00:02:40,GET /software/winvn HTTP/1.0,302.0,-
192,ix-or10-06.ix.netcom.com,[01/Jul/1995:00:03:24,GET /software HTTP/1.0,302.0,-
303,link097.txdirect.net,[01/Jul/1995:00:05:06,GET /shuttle HTTP/1.0,302.0,-

In [30]:
data['Total de bytes retornados'].replace('-', value=0,inplace=True)

In [31]:
data.iloc[50]

Host                                                   dd15-062.compuserve.com
Timestamp                                                [01/Jul/1995:00:01:12
Requisição                   GET /news/sci.space.shuttle/archive/sci-space-...
Código do retorno HTTP                                                     404
Total de bytes retornados                                                    0
Name: 50, dtype: object

In [32]:
data['Total de bytes retornados'] = data['Total de bytes retornados'].astype(float).fillna(0, downcast='infer')

In [33]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3461613 entries, 0 to 1569897
Data columns (total 5 columns):
Host                         object
Timestamp                    object
Requisição                   object
Código do retorno HTTP       float64
Total de bytes retornados    int64
dtypes: float64(1), int64(1), object(3)
memory usage: 158.5+ MB

In [34]:
data['Total de bytes retornados'].sum()

65524314915